<mat-toolbar [ngStyle]="{'background':'black' , 'color':'white'} ">
  <span [ngStyle]="{'color':'white'}">My App</span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon> table_chart</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToUsersBasic()">
      <span>Users Table Basic</span>
    </button>
    <button mat-menu-item (click)="goToUsersFilter()">
      <span>Users Table Filter</span>
    </button>
    <button mat-menu-item (click)="goToUsersFinal()">
      <span>Users Table Operations</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
    <mat-icon>photo_album</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="goToPhotoCard()">
      <span>Users Photos Cards</span>
    </button>
    <button mat-menu-item (click)="goToPhotoSlide()">
      <span>Users Photo Slide</span>
    </button>
    <button mat-menu-item (click)="goToPhotoSlideLight()">
      <span>Users Photo Slide LightBox</span>
    </button>
  </mat-menu>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button wi th menu icon" (click)="goToVideo()">
    <mat-icon>movie</mat-icon>
  </button>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" [ngStyle]="{'margin-right': '20px'}" *ngIf="isLoggedIn()" (click)="logOut()">
    <mat-icon [ngStyle]="{'color':'white'}">exit_to_app</mat-icon>Logout
  </button>
</mat-toolbar>
