<app-navbar></app-navbar>
<mat-card class="container"><mat-card [ngStyle]="{'max-height':'fit-content' }">
  <mat-card-content class="image">
    <img mat-card-image *ngIf="previewUrl" [src]="previewUrl">
    <mat-progress-bar [value]="progress"></mat-progress-bar>
    <span id="file-label">
                    </span>

  </mat-card-content>
  <mat-card-actions>
    <mat-button-toggle-group appearance="legacy">
      <mat-button-toggle [ngStyle]="{'background-color':'red','margin-right': '2px'}" (click)="upload.click()">Choose</mat-button-toggle>
      <mat-button-toggle [ngStyle]="{'background-color':'blue'}" (click)="onFileSelect()"><a>Upload</a></mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
</mat-card> <input  style="display: none"  type="file" #upload (change)="onChange($event)" ></mat-card>
