<app-navbar></app-navbar>

<div><mat-card>
  <mat-card-content>

    <mat-progress-bar [value]="progress"></mat-progress-bar>
    <span id="file-label">
                    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="uploadFile()">
      <mat-icon>file_upload</mat-icon>
      Upload
    </button>
    <button mat-button color="warn"  (click)="fileInput.click()">
      <mat-icon> attach_file</mat-icon>
      Choose
    </button>
    <input type="file" #fileInput id="fileUpload" name="fileUpload"  (change)="videoSelected($event)"  [ngStyle]="{'display': 'none'}"/>
  </mat-card-actions>
</mat-card></div>

<div class="content">
  <div fxLayout="row wrap">
    <div fxFlex="33.333%" *ngFor="let video of videoList">
      <div class="mat-elevation-z4" >
        <video  *ngIf="video" width="100%" [autoplay]=false controls >
          <source src="{{video}}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
