<app-navbar></app-navbar>

<div class="mat-dialog-container">
  <form style="display: flex" >
    <mat-form-field>
      <input matInput   type="number" min="1" [formControl]="idFilter">
      <mat-placeholder>No. (exact)</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="emailFilter">
      <mat-placeholder >Email (exact)</mat-placeholder>
    </mat-form-field>
    <mat-form-field >
      <input matInput [formControl]="firstNameFilter">
      <mat-placeholder >First Name (substring)</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="lastNameFilter">
      <mat-placeholder>Last Name (substring)</mat-placeholder>
    </mat-form-field>


    <button mat-icon-button color="primary" > <mat-icon  (click)="resetFilters()">refresh</mat-icon></button>
    <button mat-icon-button [ngStyle]="{'color':'green'}"> <mat-icon  (click)="addUser()">person_add</mat-icon> </button>

  </form>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="firstName" class="text-align">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName" class="text-align">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="email" class="text-align">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user" > {{user.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Operations" class="text-align">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Operations </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" > <mat-icon  (click)="editUser(user.id)">edit</mat-icon></button>
          <button mat-icon-button [ngStyle]="{'color':'red'}"> <mat-icon  (click)="openDialog(user.id)">delete_forever</mat-icon> </button>
          <button mat-icon-button [ngStyle]="{'color':'blue'}"> <mat-icon (click)="addPhotoUser(user.id)">add_photo_alternate</mat-icon></button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>


